@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400&display=swap');

html {
  background-color: #20252D;
  font-family: "Roboto Condensed";
  font-weight: 300;
  height: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  border: 0;
  margin: 0;
  position: relative;
  color: white;
  background-color: #20252D;
}

#header {
  background-color: #74c3e1;
}

#header .bg-container {
  background-image: url('background-edges-mobile-sm.jpg');
  background-position-x: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 700px;
  padding-bottom: 100px;

}

#logo {
  max-height: 188px;
  max-width: 100%;
}

@media (max-width: 1300px) {
  #header .bg-container {
    height: 650px;
  }

  #logo {
    max-height: 150px;
  }
}

@media (max-width: 700px) {
  #header .bg-container {
    height: 550px;
  }

  #logo {
    max-height: 130px;
  }
}

a,
a:hover,
a:visited,
a:active {
  color: white;
}

#badge {
  background-color: #133a6f;
  opacity: 0.9;
  border: 2px solid white;
}

#badge-link {
  text-decoration: none;
}

#badge-link:hover #badge {
  background-color: #31bb96;
  text-decoration: underline;
}

#media {
  margin-top: -50px;
}

#media .container {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#media video {
  margin: 5px;
  border: 1px solid white;
  max-width: 90%;
  border-radius: 20px;
  aspect-ratio: 1 / 1;
  background-color: #666;
}

footer {
  background: #20252D;
  /* position: absolute; */
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 50px;
}

.wishlist-link,
.wishlist-link:visited {
  color: rgb(66, 224, 238);
  text-decoration: none;
}

.wishlist-link:hover {
  text-decoration: underline;
}

.about-block {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;

  border-radius: 20px;
  padding: 20px 0;
}

.about-block h4 {
  color: #35ebfc;
}

.about-block div {
  padding: 20px;
}

.about-block video {
  width: 480px;
  flex-shrink: 0;
}

.about-block.reversed {
  flex-direction: row-reverse;
  background-position: right center;
}

.about-block.background-1 {
  background-image: url(gradient-1.png);
}

.about-block.background-2 {
  background-image: url(gradient-2.png);
}

.about-block.background-3 {
  background-image: url(gradient-3.png);
}

.about-block.background-4 {
  background-image: url(gradient-4.png);
}

.video-container {
  position: relative;
  margin: -240px auto 0;
  width: 70%;
  padding-bottom: 39.375%;
}


@media (max-width: 700px) {
  .video-container {
    width: 90%;
    padding-bottom: 50.625%;
  }
}

#trailer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: calc(100% - 6px);
  height: 100%;
  border: 0;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.3);
}

.links-container {
  padding: 8px;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links-container a {
  color: white;
  text-decoration: none;
  padding: 2px 8px 0;
}

.links-container a:hover {
  text-decoration: underline;
}

@media (min-width: 1300px) {
  .about-block {
    max-width: 900px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 900px) {
  .about-block {
    display: block;
    padding-bottom: 0;
  }

  .about-block div {
    padding: 0 20px;
  }

  .about-block video {
    width: 100%;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -8px;
    border-radius: 0 0 20px 20px;
  }
}